.weatherLocationCont{
    margin: 30px;
    width: 400px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
    background-color: #4466ff;
}

.LocationCont{
    width: 100%;   
    height: 35px;
    text-align: left;
    color: #444444;
    line-height: 35px;
}

.LocationCont h1{
    margin: 0;
}